/* Vidstack */
@import '@vidstack/react/player/styles/default/theme.css';
@import '@vidstack/react/player/styles/default/layouts/video.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .break-p {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .prose :where(iframe):not(:where([class~='not-prose'] *)) {
    @apply mx-auto aspect-video h-auto w-full;
  }
}

html {
  font-size: 14px;
}

a {
  @apply cursor-default no-underline !important;
}

button {
  @apply cursor-default focus:outline-none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  line-height: normal;
}

.border {
  background-clip: padding-box;
}

.ProseMirror p.is-empty::before {
  @apply pointer-events-none float-left h-0 text-neutral-600 content-[attr(data-placeholder)] dark:text-neutral-400;
}

.ProseMirror img.ProseMirror-selectednode {
  @apply outline-blue-500;
}
