@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

a {
  @apply cursor-default;
}

button {
  @apply cursor-default focus:outline-none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border {
  background-clip: padding-box;
}

span[data-slate-placeholder] {
  @apply top-0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
